<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title th:text="${title}">Authentication required!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:replace="fragments/head/scripts :: commonScripts"/>
    <th:block layout:fragment="specificScripts"/>
    <th:block th:replace="fragments/head/styles :: commonStyles"/>
    <th:block layout:fragment="specificStyles"/>
</head>
<body style="padding-top: 70px;">
<div th:replace="fragments/header :: mainMenu"/>
<div class="container">
    <th:block layout:fragment="content"/>
</div> <!-- /container -->
</body>
</html>
